{% extends 'base.html' %}
{% load staticfiles %}

{% csrf_token %}

{% block title %}About us{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome {{ user.username }}!
 
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}





