{% extends 'base1.html' %}


{% block title %}Contribute {% endblock %}

{% load staticfiles %}	
<div class="container-login100" style="background-image: url();">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">{% block content %}


{{ score}}
For each resource link added , a score would be given based on the relevancy of details provided and the resource link.
			<form class="login100-form validate-form" method="post" >
				<span class="login100-form-title p-b-37">
					Add New Resource
				</span>


{% csrf_token %}

    <div class="form-group" >
             <div class=" col-sm-offset-2 col-sm-10">

</div>
   <label class="control-label "  >Subject Name </label>
    <input type="text" list="subjects" name="subject_name" />
<datalist id="subjects">
{% for i in sub %}

  <option>{{i.name}}</option>
  
{% endfor %}
</datalist>


</div>
 <div class="form-group" >
             <div class=" col-sm-offset-2 col-sm-10">

</div>
   <label class="control-label "  >Sub-Category </label>
    <input type="text" list="category"  name="subcategory"/>
<datalist id="category">
{% for i in cat %}

  <option>{{i.name}}</option>
  
{% endfor %}
</datalist>


</div>
 <div class="form-group" >
             <div class=" col-sm-offset-2 col-sm-10">

</div>
   <label class="control-label "  >Releated keywords to your resource link (seperated by commas) </label>
    <input type="text"  name="details" placeholder="English,Literature,language"/>

</div>

 <div class="form-group" >
             <div class=" col-sm-offset-2 col-sm-10">

</div>
   <label class="control-label "  >Resource Link </label>
    <input type="url" list="cars" name="url"/>

</div>




<div class="container-login100-form-btn">
					<button class="login100-form-btn">
					Add 
					</button>
				</div>

				
								<div class="text-center">
						
				</div>
			</form>


			
		</div>
	</div>
	
	{% endblock %}
