
{% load staticfiles %}
<!DOCTYPE html>

<html lang="en" class=" js csstransforms3d csstransitions js no-touch cssanimations csstransitions csstransformspreserve3d"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
</style><link type="text/css" rel="stylesheet" href="./home_files/css"><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>LearnersWorld</title>
<!-- CUSTOM STYLE -->
<link href="{% static './home_files/style.css' %} " rel="stylesheet">
<!-- THEME TYPO -->
<link href="{% static './home_files/themetypo.css' %}" rel="stylesheet">
<!-- BOOTSTRAP -->
<link href="{% static './home_files/bootstrap.css' %}" rel="stylesheet">
<!-- COLOR FILE -->
<link href="{% static './home_files/color.css' %}" rel="stylesheet">
<!-- FONT AWESOME -->
<link href="{% static './home_files/font-awesome.min.css' %}" rel="stylesheet">
<!-- BX SLIDER -->
<link href="{% static './home_files/jquery.bxslider.css' %}" rel="stylesheet">
<!-- Boostrap Slider -->
<link href="{% static './home_files/bootstrap-slider.css' %}" rel="stylesheet">
<!-- Widgets -->
<link href="{% static './home_files/widget.css' %}" rel="stylesheet">
<!-- Owl Carusel -->
<link href="{% static './home_files/owl.carousel.css' %}" rel="stylesheet">
<!-- responsive -->
<link href="{% static './home_files/responsive.css' %}" rel="stylesheet">
<!-- Component -->
<link href="{% static './home_files/component.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static './home_files/bookblock.css' %}">

<script type="text/javascript" charset="UTF-8" src="{% static './home_files/common.js' %}"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/map.js' %}"></script><style type="text/css">.gm-style {
        font: 400 11px Roboto, Arial, sans-serif;
        text-decoration: none;
      }
      .gm-style img { max-width: none; }</style><script type="text/javascript" charset="UTF-8" src="{% static './home_files/util.js' %}"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/onion.js' %}"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/ViewportInfoService.GetViewportInfo' %}"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/vt' %}"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/controls.js' %}"></script><script type="text/javascript" charset="UTF-8" src="./home_files/AuthenticationService.Authenticate"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/marker.js' %}"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/stats.js' %}"></script><script type="text/javascript" charset="UTF-8" src="{% static './home_files/QuotaService.RecordEvent' %}"></script></head>
<body class="loaded">
<div id="loader-wrapper">
	<div id="loader"></div>

	<div class="loader-section section-left"></div>
	<div class="loader-section section-right"></div>

</div>
<div class="wrapper kode-header-class-3">
	<!--HEADER START-->
	<header class="header-3">
    	<div class="container">
            <div class="logo-container">
            	<div class="row">
                	<div class="col-md-3">
                    	 <!--LOGO START-->
                        <div class="logo">
                            <a href="{% url 'index' 'index' %}"><img src="{% static './index_files/logo-2.png' %}" alt=""></a>
                        </div>
                        <!--LOGO END-->
                    </div>
                    <div class="col-md-9">
                    	<div class="top-strip">
                            <div class="pull-left">
                                <p>Welcome to LearnersWorld</p>
                            </div>
                            <div class="social-icon">
                                <a href="{% url 'index' 'index' %}" class="pull-left">info@learnersworld.com</a>
                                <ul>
                                    <li><a href="about-us.html#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="about-us.html#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="about-us.html#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="about-us.html#"><i class="fa fa-linkedin"></i></a></li>                      
                                </ul>
                            </div>
                        </div>
                    	<div class="kode-navigation">
						   <ul>
								<li><a href="{% url 'index' 'home' %}">Home</a>
<li><a href="{% url 'index' 'aboutus' %}">About us</a>

								</li>
								<li><a href="{% url 'index' 'add_resource' %}">Contribute</a></li>
								<li><a href="{% url 'index' 'books' %}">Resources</a>
								</li>
								<li class="last"><a href="{% url 'index' 'contact-us' %}">Contact Us</a></li>

                        {% if user.username %}
                           <li><a href="{% url 'index' 'profile' %}">Profile</a></li>
                        								<li><a href="{% url 'logout' %}">Logout</a>
                        </li>

                        {% else %}

					<li><a href="{% url 'login' %}">Login</a>
</li>

{% endif %}

							</ul>
						</div>
						<div id="kode-responsive-navigation" class="dl-menuwrapper">
							<button class="dl-trigger">Open Menu</button>
							<ul class="dl-menu">
								<li class="menu-item kode-parent-menu" ><a href="{% url 'index' 'home' %}">Home</a>
									
								</li>
								<li><a href="{% url 'index' 'aboutus' %}" class="menu-item kode-parent-menu" >About Us</a> </li>
																 <li class="menu-item kode-parent-menu" ><a href="{% url 'index' 'add_resource' %}">Contribute</a> </li>
                                <li class="menu-item kode-parent-menu" ><a href="{% url 'index' 'books' %}">Resources</a>
                                </li>
                                <li class="menu-item kode-parent-menu" ><a href="{% url 'index' 'contact-us' %}">Contact Us</a></li>
{% if user.username %}
   <li class="menu-item kode-parent-menu" ><a href="{% url 'index' 'profile' %}">Profile</a></li>
								<li class="menu-item kode-parent-menu" ><a href="{% url 'logout' %}">Logout</a>
</li>

{% else %}

					<li class="menu-item kode-parent-menu" ><a href="{% url 'login' %}">Login</a>
</li>

{% endif %}


							</ul>
						</div>













                    </div>
                </div>
            </div>
        </div>
    </header>
 
    <div class="kode-banner">
    	<div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 562px;"><ul class="bxslider" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-1328px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 1288px;" class="bx-clone">
            	<img src="{% static './home_files/banner-3.png' %}" alt="">
                <div class="kode-caption-2">
                	<h5>Are you searching for some learning resources...?</h5>
                	<h4>Biggest Online Learning Resource</h4>
                    <p>Welcome to Learners World where learners meet the best resources to nurture their minds and hone their skills!</p>
                    				
                </div>
            </li>
        	<li style="float: left; list-style: none; position: relative; width: 1288px;">
            	<img src="{% static './home_files/banner-1.png' %}" alt="">
                <div class="kode-caption-2">
                	<h5>Are you searching for some learning resources...?</h5>
                    <h3 style="color:white">Biggest Online Learning Resource</h3>
                    <p>Welcome to Learners World where learners meet the best resources to nurture their minds and hone their skills!</p>
                    				
                </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 1288px;">
            	<img src="{% static './home_files/banner-2.png' %}" alt="">
                <div class="kode-caption-2">
                	<h5>Are you searching for some learning resources...?</h5>
                    <h2>Biggest Online Learning Resource</h2>
                    <p>Welcome to Learners World where learners meet the best resources to nurture their minds and hone their skills!</p>
                    				
                </div>
            </li>
            <li style="float: left; list-style: none; position: relative; width: 1288px;">
            	<img src="{% static './home_files/banner-3.png' %}" alt="">
                <div class="kode-caption-2">
                	<h5>Are you searching for some learning resources...?</h5>
                    <h2>Biggest Online Learning Resource</h2>
                    <p>Welcome to Learners World where learners meet the best resources to nurture their minds and hone their skills!</p>
                                    
                   				
                </div>
            </li>
        <li style="float: left; list-style: none; position: relative; width: 1288px;" class="bx-clone">
            	<img src="{% static './home_files/banner-1.png' %}" alt="">
                <div class="kode-caption-2">
                	<h5>Are you searching for some learning resources...?</h5>
                    <h2>Biggest Online Learning Resource</h2>
                    <p>Welcome to Learners World where learners meet the best resources to nurture their minds and hone their skills!</p>
                                    				
                </div>
            </li></ul></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="index.html" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="index-1.html" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="index.html" data-slide-index="2" class="bx-pager-link">3</a></div></div><div class="bx-controls-direction"><!--<a class="bx-prev" href="index.html"></a><a class="bx-next" href="index.html"></a>--></div></div></div>
    </div>
 
<form method='GET' action=''>

       <div class="search-section"  >
        <div class="container">
            <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="{% url 'index' 'index' %}" aria-controls="Author" role="tab" data-toggle="tab">Resource</a></li>
                              </ul>
            
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Basic">
                    <div class="form-container">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <input type="text" name="subject" placeholder="Subject">
                            </div>
                            
                                                        <div class="col-md-3 col-sm-12">
                                <button type="submit">Search </button>
                            </div>
                        </div>
                    </div>
                </div>


</form>


			  </div>
		</div>
	</div>

{% if q_set %}
<br><br>
<h2 style="text-align:center"> Search Results </h2>

<!--CONTENT START-->
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <!--TOP AUTHERS START-->
        <div class="container">
            <div class="kode-product-filter">
                
            </div>
            <div class="row">



                	{% for i in q_set %}
                	<!--PRODUCT GRID START-->
                	<div class="col-md-3 col-sm-6">
                    	<div class="best-seller-pro">
                        	<figure>
                            	<img src="{% static './books_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>{{i.name}}</h3>
                            </div>
                            <div class="kode-caption" ">
                            	<h3>Categories</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
            {% for cats in cat %}

{% for k in cats.subid.all %}
{% ifequal k i  %}
 <a href="{% url 'subject_view' sid=cats.id %}" >{{cats.name}}</a><br>

{% endifequal %}

{% endfor %}


{% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--PRODUCT GRID END-->

{% endfor %}



                               </div>
                   </div>
        <!--TOP AUTHERS END-->
   </div> 


<hr>
<hr>

{% endif %}

	<!--BUT NOW END-->
    <!--CONTENT START-->
    <div class="kode-content">
    	
        <!--BOOK GUIDE SECTION START-->
        <section>
        	<div class="container">
            	<!--SECTION CONTENT START-->
            	<div class="section-heading-1">
                	<h2>Welcome to the LearnersWorld</h2>
                    <p>Welcome to the Most Popular e-Library Today</p>
                    <div class="kode-icon"><i class="fa fa-book"></i></div>
                </div>
                <!--SECTION CONTENT END-->
                <div class="row">
                	<div class="col-md-3 col-sm-6">
                    	<div class="kode-service-3">
                        	<i class="fa fa-gift"></i>
                            <h3><a href="">Ebooks</a></h3>
                            <p>an electronic version of a printed book that can be read on a computer.</p>
                            <a href="" class="read-more">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="kode-service-3">
                        	<i class="fa fa-book"></i>
                            <h3><a href="">audiobooks</a></h3>
                            <p>an audiocassette or CD recording of a reading of a book, typically a novel.</p>
                            <a href="" class="read-more">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="kode-service-3">
                        	<i class="fa fa-clone"></i>
                            <h3><a href="">Magazine</a></h3>
                            <p>a periodical publication containing articles and illustrations information.</p>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="kode-service-3">
                        	<i class="fa fa-calculator"></i>
                            <h3><a href="#">Teans &amp; Kids</a></h3>
                            <p>the years of a person's age from 13 to 19 and are the kids and teens.</p>
                            <a href="#" class="read-more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--BOOK GUIDE SECTION END-->
        <!--TOP SELLERS SECTION START-->
        <section class="lib-categories-section">
        	<div class="container">
            	<!--SECTION CONTENT START-->
            	<div class="section-heading-1 dark-sec">
                	<h2>Our Top Categories</h2>
                    <p>Here are some of the Top Categories of the resources Available.</p>
                    <div class="kode-icon"><i class="fa fa-book"></i></div>
                </div>
                <!--SECTION CONTENT END-->
                <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="index-1.html#Photography" aria-controls="Photography" role="tab" data-toggle="tab">Science</a></li>
                <li role="presentation"><a href="index-1.html#Biographies" aria-controls="Biographies" role="tab" data-toggle="tab">Science</a></li>
                <li role="presentation"><a href="index-1.html#Business" aria-controls="Business" role="tab" data-toggle="tab">Science</a></li>
                <li role="presentation"><a href="index-1.html#Computers" aria-controls="Computers" role="tab" data-toggle="tab">Science</a></li>
                </ul>
                
                <!-- Tab panes -->
                <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="Photography">
                	<div class="bx-wrapper" style="max-width: 100%;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 508px;"><ul class="bxslider" style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-1180px, 0px, 0px);"><li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
                        	<!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img alt="" src="{% static './home_files/book6.png' %}">
                            </figure>
                            <div class="kode-text">
                            	<h3><a href="#">Fableheaven</a></h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Fableheaven The Master</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Brandon Hall</p>
                                <p class="price">$542.75</p>
                                <a class="add-to-cart" href="index-1.html#">Add To Cart</a>
                                </div>
                                </div>
                            <!--PRODUCT GRID END-->
                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img alt="" src="{% static './home_files/book7.png' %}">
                            </figure>
                            <div class="kode-text">
                            	<h3><a href="#">Star Trek</a></h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Star Trek Course</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>DisAvowed</p>
                                <p class="price">$821.75</p>
                                <a class="add-to-cart" href="index-1.html#">Add To Cart</a>
                                </div>
                            </div>
                            <!--PRODUCT GRID END-->
                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img alt="" src="{% static './home_files/book8.png' %}">
                            </figure>
                            <div class="kode-text">
                            	<h3><a href="index-1.html#">City Of Bones</a></h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>City Of Bones Lies here</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Cassandra Clare</p>
                                <p class="price">$362.75</p>
                                <a class="add-to-cart" href="index-1.html#">Add To Cart</a>
                                </div>
                            </div>
                            <!--PRODUCT GRID END-->
                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img alt="" src="{% static './home_files/book9.png' %}">
                            </figure>
                            <div class="kode-text">
                            	<h3><a href="index-1.html#">Annette Blair</a></h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Annette Blair The Maker</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Vampire Dragon</p>
                                <p class="price">$599.75</p>
                                <a class="add-to-cart" href="index-1.html#">Add To Cart</a>
                                </div>
                            </div>
                            <!--PRODUCT GRID END-->
                        </li>
                    	<li style="float: left; list-style: none; position: relative; width: 1140px;">
                        	<!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->
                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

<!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 1140px;">
                        	<!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                           <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                        </li>
                        <li style="float: left; list-style: none; position: relative; width: 1140px;">
                        	<!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                           <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                        </li>
                    <li style="float: left; list-style: none; position: relative; width: 1140px;" class="bx-clone">
                        	<!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                           <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                            <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                           <!--PRODUCT GRID START-->
                            <div class="col-md-3 col-sm-6 best-seller-pro">
                                <figure>
                            	<img src="{% static './home_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>Physics</h3>
                            </div>
                            <div class="kode-caption">
                            	<h3>Subcategory</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
                                <p>Nuclear Science</p>
<p>Atomic Science</p>
<p>Research Science</p>
<p>Comptetive Science</p>

                                                                </div>
                                </div>
                            <!--PRODUCT GRID END-->

                        </li></ul></div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="#" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="#" data-slide-index="1" class="bx-pager-link">2</a></div><div class="bx-pager-item"><a href="#" data-slide-index="2" class="bx-pager-link">3</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href=""></a><a class="bx-next" href=""></a></div></div></div>
                	
                </div>

				
                </div>
            </div>
        </section>
        

        <section class="lib-papular-books">
        	<div class="container">
            	<!--SECTION CONTENT START-->
            	<div class="section-heading-1">
                	<h2>Most Popular Resources</h2>
                    <p>The Most Popular Resources Today are available in Resources Sections</p>
                    <div class="kode-icon"><i class="fa fa-book"></i></div>
                </div>
                <div class="row">
                    <!--SECTION CONTENT END-->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active col-md-4 col-sm-3">
                        	<a href="index-1.html#book1" aria-controls="book1" role="tab" data-toggle="tab">
                                <div class="lib-papular-thumb">
                                    <img src="{% static './home_files/papular-books2.png' %}" alt="">
                                </div>
                        	</a>
                        </li>
                        <li role="presentation" class="col-md-4 col-sm-3">
                            <a href="index-1.html#book2" aria-controls="book2" role="tab" data-toggle="tab">
                                <div class="lib-papular-thumb">
                                    <img src="{% static './home_files/papular-books3.png' %}" alt="">
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-md-4 col-sm-3">
                            <a href="index-1.html#book3" aria-controls="book3" role="tab" data-toggle="tab">
                            	<div class="lib-papular-thumb">
                                    <img src="{% static './home_files/papular-books4.png' %}" alt="">
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-md-4 col-sm-3">
                        	<a href="index-1.html#book4" aria-controls="book4" role="tab" data-toggle="tab">
                                <div class="lib-papular-thumb">
                                    <img src="{% static './home_files/papular-books5.png' %}" alt="">
                                </div>
                        	</a>
                        </li>
                        <li role="presentation" class="col-md-4 col-sm-3 visible-lg visible-md">
                            <a href="index-1.html#book5" aria-controls="book5" role="tab" data-toggle="tab">
                                <div class="lib-papular-thumb">
                                    <img src="{% static './home_files/papular-books6.png' %}" alt="">
                                </div>
                            </a>
                        </li>
                        <li role="presentation" class="col-md-4 col-sm-3 visible-lg visible-md">
                            <a href="index-1.html#book6" aria-controls="book6" role="tab" data-toggle="tab">
                            	<div class="lib-papular-thumb">
                                    <img src="{% static './home_files/papular-books7.png' %}" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                  
            </div>
        </div>
        </section>
      
        <div class="lib-count-up-section">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-3 col-sm-6">
                    	<div class="count-up">
                            <span class="counter circle">21</span>
                            <p>Active Users</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="count-up">
                            <span class="counter circle">8589</span>
                            <p>Links Contributed</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="count-up">
                            <span class="counter circle">458</span>
                            <p>Links Shared</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    	<div class="count-up">
                            <span class="counter circle">750</span>
                            <p>Happiness Shared!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--FROM THE BLOG SECTION END-->
        <!--GIFT CARD SECTION START--> 
                >
        <!--GIFT CARD SECTION END-->
		<section class="kode-booklet">
			<div class="container">
				<!--SECTION CONTENT START-->
				<div class="section-heading-1">
					<h2>Resource of The Month (Image base)</h2>
					<div class="kode-icon"><i class="fa fa-book"></i></div>
				</div>
			</div>
			<div id="canvas" style="display: block;"></div>
			<div class="zoom-icon zoom-icon-in"></div>
			<div class="magazine-viewport" style="position: relative; overflow: hidden; width: 1288px; height: 629px;">
				<div class="container">
					<div class="magazine animated" style="position: relative; width: 892px; height: 629px; margin-left: -230.5px; top: -314.5px; left: -446px;">
						<!-- Next button -->
						<div data-ignore="1" class="next-button" style="height: 629px; background-position: -38px 298.5px;"></div>
						<!-- Previous button -->
						<div data-ignore="1" class="previous-button" style="display: none; height: 629px; background-position: -4px 298.5px;"></div>
					<div class="turn-page-wrapper" page="1" style="position: absolute; overflow: hidden; width: 446px; height: 629px; top: 0px; right: 0px; left: auto; z-index: 6;"><div style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 2; width: 446px; height: 629px;"><div class="page p1 odd" style="float: left; width: 446px; height: 629px;"><div class="gradient"></div><img src="{% static './home_files/1.jpg' %}" style="width: 100%; height: 100%;"></div></div><div style="position: absolute; top: 0px; left: 0px; overflow: hidden; z-index: 1; width: 446px; height: 629px;"></div></div><div class="turn-page-wrapper" page="2" style="position: absolute; overflow: hidden; width: 446px; height: 629px; top: 0px; left: 0px; right: auto; z-index: 0; display: none;"><div class="page p2 even" style="float: left; width: 446px; height: 629px;"><div class="gradient"></div><img src="./home_files/2.jpg" style="width: 100%; height: 100%;"></div></div><div class="turn-page-wrapper" page="3" style="position: absolute; overflow: hidden; width: 446px; height: 629px; top: 0px; right: 0px; left: auto; z-index: 5;"><div class="page p3 odd" style="float: left; width: 446px; height: 629px;"><div class="gradient"></div><img src="./home_files/3.jpg" style="width: 100%; height: 100%;"></div></div><div class="turn-page-wrapper" page="4" style="position: absolute; overflow: hidden; width: 446px; height: 629px; top: 0px; left: 0px; right: auto; z-index: 0; display: none;"><div class="page p4 even" style="float: left; width: 446px; height: 629px;"><div class="gradient"></div><img src="./home_files/4.jpg" style="width: 100%; height: 100%;"></div></div><div class="turn-page-wrapper" page="5" style="position: absolute; overflow: hidden; width: 446px; height: 629px; top: 0px; right: 0px; left: auto; z-index: 0; display: none;"><div class="page p5 odd" style="float: left; width: 446px; height: 629px;"><div class="gradient"></div><img src="./home_files/5.jpg" style="width: 100%; height: 100%;"></div></div><div class="turn-page-wrapper" page="6" style="position: absolute; overflow: hidden; width: 446px; height: 629px; top: 0px; left: 0px; right: auto; z-index: 0; display: none;"><div class="page p6 even" style="float: left; width: 446px; height: 629px;"><div class="gradient"></div><img src="./home_files/6.jpg" style="width: 100%; height: 100%;"></div></div><div class="shadow" style="position: absolute; top: 0px; left: 461px; overflow: hidden; z-index: auto; width: 461px; height: 650px;"></div></div>
				</div>
			</div>
		</section>
		
        <section class="kode-membership">
        	<div class="container">
            	<!--SECTION HEADING START-->
            	<div class="section-heading-1 dark-sec">
                    <h2>Join Us</h2>
                    <p>Submit new and exciting learning resources and you can become a contributor too!</p>
                    <div class="kode-icon"><i class="fa fa-book"></i></div>
                </div>
                <!--SECTION HEADING END-->
                <div class="row">
              
                    <div class="col-md-12 col-sm-12">
                    	<a href="{% url 'add_resource' %}" class="reg-btn">Add Resource</a>
                    </div>
                </div>
            </div>
        </section>
       
        <!--NEWSLETTERS SECTION END-->
<section class="lib-contact-section">
        	<div class="location-text">
            	<i class="fa fa-map-marker"></i>
            	<h2>Learners World<br>Best online resource for learning!</h2>
                <p>New Delhi, India</p>
                <span><i class="fa fa-phone"></i>80.828247.89</span>
            </div>
        	<div class="kode-thumb">
            	
            </div>
        	<div class="map-canvas" id="map-canvas" style="position: relative; overflow: hidden;">
        	<div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
        	<div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;">
        	<div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);">
        	<div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -77, -125);"><div style="width: 256px; height: 256px; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -256px; top: 256px;"></div></div></div></div>
        	<div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -77, -125);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;">
        	</div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -77, -125);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3697!3i2513!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=55867" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3696!3i2513!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=81300" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3696!3i2512!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=55769" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3697!3i2512!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=30336" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3698!3i2512!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=4903" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3698!3i2513!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=30434" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3698!3i2514!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=55965" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3697!3i2514!4i256!2m3!1e0!2sm!3i411111698!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=81398" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i12!2i3696!3i2514!4i256!2m3!1e0!2sm!3i411111687!3m14!2sen-GB!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcy50OjgxfHMuZTpnfHAuYzojZmZmN2YxZGYscy50OjgyfHMuZTpnfHAuYzojZmZkMGUzYjQscy50OjEzMTR8cy5lOmd8cC52Om9mZixzLnQ6MnxzLmU6bHxwLnY6b2ZmLHMudDozM3xwLnY6b2ZmLHMudDozNnxzLmU6Z3xwLmM6I2ZmZmJkM2RhLHMudDo0MHxzLmU6Z3xwLmM6I2ZmYmRlNmFiLHMudDozfHMuZTpnLnN8cC52Om9mZixzLnQ6M3xzLmU6bHxwLnY6b2ZmLHMudDo0OXxzLmU6Zy5mfHAuYzojZmZmZmUxNWYscy50OjQ5fHMuZTpnLnN8cC5jOiNmZmVmZDE1MSxzLnQ6NTB8cy5lOmcuZnxwLmM6I2ZmZmZmZmZmLHMudDo1MXxzLmU6Zy5mfHAuYzpibGFjayxzLnQ6MTA1OXxzLmU6Zy5mfHAuYzojZmZjZmIyZGIscy50OjZ8cy5lOmd8cC5jOiNmZmEyZGFmMg!4e0!23i1301875&amp;token=117894" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;">
        	</div></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div><div style="z-index: 4; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe frameborder="0" src="about:blank" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"></iframe><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=-37.821982,144.958135&amp;z=12&amp;hl=en-GB&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/google_white5.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 53px; top: 160px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2018 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 72px; bottom: 0px; width: 121px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2018 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-GB_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" style="background: none; border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; top: 0px; right: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></button><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@-37.821982,144.9581352,12z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></button><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div><button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></button></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none; position: absolute; left: 0px; top: 0px;"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; display: none;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; top: 0px; cursor: pointer;"><img alt="" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;"><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="Show street map" aria-label="Show street map" aria-pressed="false" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 22px;">Map</div></div><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="" aria-label="" aria-pressed="true" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 65px; border-left: 0px; font-weight: 500;">Custom Style</div></div></div></div></div></div>
        </section>
        <!--CONTENT END-->
    <footer class="footer-2">
    	<div class="container">
        	<div class="lib-copyrights">
                <p>Copyrights © LearnersWorld</p>
                <div class="social-icon">
                	<ul>
                    	<li><a href="index-1.html#" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="index-1.html#" data-toggle="tooltip" title="" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="index-1.html#" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="index-1.html#" data-toggle="tooltip" title="" data-original-title="Tumblr"><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--WRAPPER END-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static './home_files/turn.html4.min.js' %}"></script><script src="./home_files/zoom.min.js' %}"></script><script src="{% static './home_files/magazine.js' %}"></script><link href="{% static './home_files/magazine.css' %}" rel="stylesheet" type="text/css"><script src="{% static './home_files/jquery.min.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static './home_files/modernizr.custom.js' %}"></script>
<script src="{% static './home_files/bootstrap.min.js' %}"></script>
<script src="{% static './home_files/jquery.bxslider.min.js' %}"></script>
<script src="{% static './home_files/bootstrap-slider.js' %}"></script>
<script src="{% static './home_files/waypoints.min.js' %}"></script> 
<script src="{% static './home_files/jquery.counterup.min.js' %}"></script>
<script src="{% static './home_files/owl.carousel.js' %}"></script>
<script src="{% static './home_files/modernizr.custom(1).js' %}"></script>
<script src="{% static './home_files/jquery.dlmenu.js' %}"></script>
<script type="text/javascript" src="{% static './home_files/hash.js' %}"></script>
<script type="text/javascript" src="{% static './home_files/booklet-lib.js' %}"></script>
<script src="{% static './home_files/jquerypp.custom.js' %}"></script>
<script src="{% static './home_files/jquery.bookblock.js' %}"></script>
<script src="{% static './home_files/js' %}"></script>
<script src="{% static './home_files/functions.js' %}"></script>

</body></html>

