{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V9</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico'  %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<!--
===============================================================================================-->
</head>
<style>
.abc{
border:5px solid #FFF;
}
</style>
<body>
	
	
	<div class="container-login100" style="background-image: url({% static 'images/bg-01.jpg' %});">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

<a href="{% url 'home'  %}" class="txt2 hov1">
						Back to Index
					</a>


			<form class="login100-form validate-form" method="post" >
				<span class="login100-form-title p-b-37">
					Sign In
				</span>
{% csrf_token %}
   {% for field in user_form %}
    <div class="form-group" >
             <div class=" col-sm-offset-2 col-sm-10">
 <!---     <span class="text-danger small">{{ field.errors}}
</span>   -->
</div>
   <label class="control-label ">{{ field.label_tag }} </label>
     <div class="abc"> {{ field }} </div>


   

</div>

{% endfor %}
<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Sign In
					</button>
				</div>

				
								<div class="text-center">
					<a href="{% url 'index' 'signup' %}" class="txt2 hov1">
						Create account!
					</a><br>
<a href="{% url 'password_reset'  %}" class="txt2 hov1">
						forgot password?
					</a>
	
				</div>
			</form>

			
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>