
{% extends 'base1.html' %}
{% load staticfiles %}
<style>
.circle {
  display: block;
  width: 50px;
  height: 50px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}
</style>

<body>
{% block title %}Profile {% endblock %}
  {% block content %}


{% if recom %}
<br><br>
<h2 style="text-align:center"> Recommendations: </h2>

<!--CONTENT START-->
    <!--CONTENT START-->
    <div class="kode-content padding-tb-50">
        <!--TOP AUTHERS START-->
        <div class="container">
            <div class="kode-product-filter">
                
            </div>
            <div class="row">



                	{% for i in recom %}
                	<!--PRODUCT GRID START-->
                	<div class="col-md-3 col-sm-6">
                    	<div class="best-seller-pro">
                        	<figure>
                            	<img src="{% static './books_files/book5.png' %}" alt="">
                            </figure>
                            <div class="kode-text">
                            	<h3>{{i.name}}</h3>
                            </div>
                            <div class="kode-caption" ">
                            	<h3>Categories</h3>
                                <div class="rating">
<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
            {% for cats in cat %}

{% for k in cats.subid.all %}
{% ifequal k i  %}
 <a href="{% url 'subject_view' sid=cats.id %}" >{{cats.name}}</a><br>

{% endifequal %}

{% endfor %}


{% endfor %}
                            </div>
                        </div>
                    </div>
                    <!--PRODUCT GRID END-->

{% endfor %}



                               </div>
                   </div>
        <!--TOP AUTHERS END-->
   </div> 


<hr>
<hr>

{% endif %}


 <div class="container-login100" style="background-image: url();">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
<b><h2>User Profile</h2></b>
Username :{{   user.username  }}  <br>
Full Name :{{   pro.full_name  }}  <br>
About :{{   pro.about_yourself}}  <br>
Education :{{   pro.Education}}  <br>
Experience :{{   pro.Experience}}  <br>
Skills :{{   pro.skills  }}  <br>
Work :{{   pro.Work  }}  <br>
<img class="circle"  src="{{  pro.profile_photo.url }}"  />  <br>
Resume :<a href="{{  pro.resume.url }}">Resume </a>  <br>
<div class="image"></div>

Interests :{% for interest in pro.interest1.all %}
        <li>{{ interest }}</li>
{% endfor %}
 <p><a href="{% url 'profile_update'  %}">Update Profile</a></p>
	

	<div class="text-center">
						
				</div>
			</form>

</div>
			
		</div>
	</div>
	
{% endblock %}


</body>