{% extends 'base1.html' %}
{% block title %}Profile {% endblock %}
  <h2>Create Profile</h2>
  <div class="container-login100" style="background-image: url();">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

{% block content %}
{{msg}}
			<form class="login100-form validate-form" method="post" enctype="multipart/form-data">
				

{% csrf_token %}
   Full Name
<input type="text" name="full_name" required />  <br>About Yourself
<input type="text" name="about_yourself" required /> <br>Education
<input type="text" name="Education" required />  <br>Experience
<input type="text" name="Experience" required />  <br>Skills
<input type="text" name="skills" required />  <br>Work
<input type="text" name="Work" required />  <br>Profile Photo(Optional)
<input type="file" name="profile_photo" />  <br>Resume (Optional)
<input type="file" name="resume" />  <br>
Interested Subjects:<br>
 {% for field in profile_form %}
 {{ field }} 
<br>
{% endfor %}

    <button type="submit">Create profile</button>


				
								<div class="text-center">
						
				</div>
			</form>


			
		</div>
	</div>
	
	{% endblock %}




